.o-decimal-setting-disabled {
	opacity: 0.5;
}

.o-decimal-setting-disabled .setting-item-name,
.o-decimal-setting-disabled .setting-item-description,
.o-decimal-setting-disabled .setting-item-control {
	transition: opacity 120ms ease-in-out;
}

.o-decimal-setting-disabled .setting-item-name,
.o-decimal-setting-disabled .setting-item-description {
	color: var(--text-faint);
}

.o-decimal-setting-disabled .setting-item-control {
	pointer-events: none;
}
